# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store
**/.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# keep the wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Others
ObjectStore/
*.iml
**/*.iml

# Temporary directories
**/temp

# Node dependencies
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Output of 'npm pack'
*.tgz

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# nyc (formerly known as istanbul) test coverage data
.nyc_output

# coverage reports
coverage/

# Environment Files
.env

# Jupyter Notebook
.ipynb_checkpoints
*.nbconvert*

# Python
__pycache__/

# Python environments
.conda

# Optuna (and other) Database data
*.db