div {
    width: 100vw;
    height: 100vh;
}

div.vis-tooltip {
    font-size: 4px;
    overflow-y: auto;
}

.indexedVisualization {
    margin-top: 10px;
    margin-left: 10px;
    width: 400vw;
    height: 400vh;
    display:inline-block;
}

.indexedVisualization.visualization-finished {
    border-width: 1px;
    border-style: solid;
    border-color: lightgreen;
}

.indexedVisualization:not(.visualization-finished) {
    border-width: 2px;
    border-style: dotted;
    border-color: orange;
}

.indexedVisualization.visualization-finished.visualization-failed {
    height: 6em;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
