name: Java Code Structure Graph Analysis

on:
  push:
    branches:
      - main
    # Ignore changes in documentation, general configuration and reports for push events
    paths-ignore: 
      - '**/*.md'
      - '**/*.txt'
      - '!requirements.txt'
      - '**/*.css'
      - '**/*.html'
      - '**/*.js'
      - '.gitignore'
      - '.gitattributes'
      - 'renovate.json'
      - 'renovate-presets/**'
      - 'changelogTemplate.mustache'
      - '**.code-workspace'
      - '.github/workflows/internal-typescript-code-analysis.yml'
      - '.github/workflows/*documentation.yml'
  pull_request:
    branches:
      - main
    # Ignore changes in documentation, general configuration and reports for pull request events
    paths-ignore: 
      - '**/*.md'
      - '**/*.txt'
      - '!requirements.txt'
      - '**/*.css'
      - '**/*.html'
      - '**/*.js'
      - '.gitignore'
      - '.gitattributes'
      - 'renovate.json'
      - 'renovate-presets/**'
      - 'changelogTemplate.mustache'
      - '**.code-workspace'
      - '.github/workflows/internal-typescript-code-analysis.yml'
      - '.github/workflows/*documentation.yml'

# Requires the secret NEO4J_INITIAL_PASSWORD to be configured
jobs:
  prepare-code-to-analyze:
    runs-on: ubuntu-latest
    outputs:
      analysis-name: ${{ steps.set-analysis-name.outputs.analysis-name }}
      artifacts-upload-name: ${{ steps.set-artifacts-upload-name.outputs.artifacts-upload-name }}
      additional-maven-artifacts: ${{ steps.set-additional-maven-artifacts.outputs.additional-maven-artifacts }}
      source-repository-branch: ${{ steps.set-source-repository-branch.outputs.source-repository-branch }}

    env: 
      PROJECT_NAME: AxonFramework
      # Version variable names matches renovate.json configuration entry
      AXON_FRAMEWORK_VERSION: 4.12.2

    steps:
    - name: Checkout GIT Repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    
    - name: Set Set output variable 'analysis-name'
      id: set-analysis-name
      run: echo "analysis-name=${{ env.PROJECT_NAME }}-${{ env.AXON_FRAMEWORK_VERSION }}" >> "$GITHUB_OUTPUT"

    - name: Setup temp directory if missing
      run: mkdir -p ./temp

    - name: Download ${{ steps.set-analysis-name.outputs.analysis-name }}
      working-directory: temp
      run: |
        mkdir -p ${{ steps.set-analysis-name.outputs.analysis-name }}
        cd ${{ steps.set-analysis-name.outputs.analysis-name }}
        echo "Working directory: $( pwd -P )"
        ./../../scripts/downloader/downloadAxonFramework.sh ${{ env.AXON_FRAMEWORK_VERSION }} --skip-clone

    - name: Debug folder structure in temp directory
      if: runner.debug == '1'
      working-directory: temp
      run: |
        ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'
 
    - name: (Prepare Code to Analyze) Generate ARTIFACT_UPLOAD_ID
      run: echo "ARTIFACT_UPLOAD_ID=$(LC_ALL=C tr -dc 'A-Za-z0-9' < /dev/urandom | head -c 10)" >> $GITHUB_ENV
 
    - name: (Prepare Code to Analyze) Set output variable 'artifacts-upload-name'
      id: set-artifacts-upload-name
      run: echo "artifacts-upload-name=${{ steps.set-analysis-name.outputs.analysis-name }}-analysis-artifacts-input-${{ env.ARTIFACT_UPLOAD_ID }}" >> "$GITHUB_OUTPUT"

    - name: (Prepare Code to Analyze) Set output variable 'additional-maven-artifacts'
      id: set-additional-maven-artifacts
      run: echo "additional-maven-artifacts=org.axonframework:axon-messaging:${{ env.AXON_FRAMEWORK_VERSION }},org.axonframework:axon-modelling:${{ env.AXON_FRAMEWORK_VERSION }}" >> "$GITHUB_OUTPUT"

    - name: (Prepare Code to Analyze) Set output variable 'source-repository-branch'
      id: set-source-repository-branch
      run: echo "source-repository-branch=axon-${{ env.AXON_FRAMEWORK_VERSION }}" >> "$GITHUB_OUTPUT"

    - name: (Prepare Code to Analyze) Upload artifacts to analyze
      if: success()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      with:
        name: ${{ steps.set-artifacts-upload-name.outputs.artifacts-upload-name }}
        path: ./temp/${{ steps.set-analysis-name.outputs.analysis-name }}/artifacts
        if-no-files-found: error
        retention-days: 1



  analyze-code-graph:
    needs: [prepare-code-to-analyze]
    uses: ./.github/workflows/public-analyze-code-graph.yml
    with:
      analysis-name: ${{ needs.prepare-code-to-analyze.outputs.analysis-name }}
      # All necessary artifacts are contained in the uploaded artifacts. 
      # This could easily be replaced by maven-artifact parameter below, but remains here for testing purposes.
      artifacts-upload-name: ${{ needs.prepare-code-to-analyze.outputs.artifacts-upload-name }}
      # Additional (duplicate) artifacts are only used here to test maven-artifacts parameter.
      maven-artifacts: ${{needs.prepare-code-to-analyze.outputs.additional-maven-artifacts}}
      source-repository: https://github.com/AxonFramework/AxonFramework.git
      source-repository-branch: ${{ needs.prepare-code-to-analyze.outputs.source-repository-branch}}
      source-repository-history-only: true
      jupyter-pdf: "false"