name: Typescript Code Structure Graph Analysis

on:
  push:
    branches:
      - main
    # Ignore changes in documentation, general configuration and reports for push events
    paths-ignore: 
      - '**/*.md'
      - '**/*.txt'
      - '!requirements.txt'
      - '**/*.css'
      - '**/*.html'
      - '**/*.js'
      - '.gitignore'
      - '.gitattributes'
      - 'renovate.json'
      - 'renovate-presets/**'
      - 'changelogTemplate.mustache'
      - '**.code-workspace'
      - '.github/workflows/internal-java-code-analysis.yml'
      - '.github/workflows/*documentation.yml'
  pull_request:
    branches:
      - main
    # Ignore changes in documentation, general configuration and reports for pull request events
    paths-ignore: 
      - '**/*.md'
      - '**/*.txt'
      - '!requirements.txt'
      - '**/*.css'
      - '**/*.html'
      - '**/*.js'
      - '.gitignore'
      - '.gitattributes'
      - 'renovate.json'
      - 'renovate-presets/**'
      - 'changelogTemplate.mustache'
      - '**.code-workspace'
      - '.github/workflows/internal-java-code-analysis.yml'
      - '.github/workflows/*documentation.yml'

jobs:

  prepare-code-to-analyze:
    runs-on: ubuntu-latest
    outputs:
      analysis-name: ${{ steps.set-analysis-name.outputs.analysis-name }}
      project-version: ${{ env.REACT_ROUTER_VERSION }}

    env: 
      PROJECT_NAME: react-router
      # Version variable name matches renovate.json configuration entry
      REACT_ROUTER_VERSION: 6.30.2

    steps:   
    - name: Set Set output variable 'analysis-name'
      id: set-analysis-name
      run: echo "analysis-name=${{ env.PROJECT_NAME }}-${{ env.REACT_ROUTER_VERSION }}" >> "$GITHUB_OUTPUT"

  analyze-code-graph:
    needs: [prepare-code-to-analyze]
    uses: ./.github/workflows/public-analyze-code-graph.yml
    with:
      analysis-name: ${{ needs.prepare-code-to-analyze.outputs.analysis-name }}
      source-repository: https://github.com/remix-run/react-router.git
      source-repository-branch: react-router@${{ needs.prepare-code-to-analyze.outputs.project-version }}
      jupyter-pdf: "false"