name: Check Renovate Configuration

on:
  pull_request:
    branches:
      - main
    # Only watch root level Renovate configuration changes
    paths:
      - 'renovate.json*'
      - 'renovate-presets/**'
      - '.github/workflows/internal-check-renovate-config.yml' # or when this file changed

jobs:
  reports:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout GIT Repository
      uses: actions/checkout@v6

    - name: Setup node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
    
    - name: Get the list of all renovate presets and the main renovate configuration
      id: set-renovate-config-files
      run: |
        echo "RENOVATE_CONFIG_FILES=$(find renovate-presets -type f -name '*.json' -o -name '*.json5') renovate.json" >> $GITHUB_ENV

    - name: Run renovate-config-validator
      run: npx --yes --package renovate@39.264.1 -- renovate-config-validator ${{ env.RENOVATE_CONFIG_FILES }}
